@use "../global/variables.scss" as v;
@use "../mixins/media.scss" as m;

.form {
  width: 280px;
  margin: 0 auto;
  padding-top: 32px;

  @include m.tablet {
    width: 768px;
  }

  @include m.desktop {
    width: 1220px;
  }
}

.form__description {
  width: 226px;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 39px;

  @include m.tablet {
    width: 323px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__section-title {
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  background-color: #ffffff;
  z-index: 10;
  padding-left: 20px;
  padding-right: 20px;

  @include m.tablet {
    font-size: 36px;
    line-height: 36px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.form__title-wrapper {
  margin-bottom: 35px;
  display: flex;
  gap: 20px;
  max-width: 227px;
  background-color: #ffffff;

  @include m.tablet {
    max-width: 594px;
  }
}

.form__title-wrapper::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 100%;
  border-bottom: 2px solid #68b738;
  flex-grow: 1;
  right: 0;
  z-index: 1;
}

.form__title {
  margin-bottom: 35px;
  margin-top: 0;
}

.form__label {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: v.$special_dark-grey;

  @include m.tablet {
    font-size: 20px;
    line-height: normal;
  }
}

.form__line {
  display: flex;
  gap: 13px;
  align-items: center;

  @include m.tablet {
    width: 570px;
  }
}

.form__input {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  min-height: 39px;
  border: 1px solid #e7e7e7;
}

.form__input-email {
  background-image: url("../img/email.svg");
  background-repeat: no-repeat;
  background-position: 96% 40%;
}

.form__input-phone {
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: 96% 40%;
}

.form__input::placeholder {
  position: relative;
  padding-left: 14px;
  padding-right: 12px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: v.$special_dark-grey;

  @include m.tablet {
    font-size: 20px;
    line-height: normal;
  }
}

.form__control {
  position: relative;
  display: flex;
  gap: 15px;
  height: 30px;
  align-items: center;
}

.form-comment__textarea {
  width: 100%;
  min-height: 150px;
  border: 1px solid #e7e7e7;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: v.$special_dark-grey;
  padding-left: 15px;
  padding-top: 14px;

  @include m.tablet {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__button-style {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 21px;
  width: 100%;

  @include m.tablet {
    width: 50%;
  }
}

.form__button {
  margin-bottom: 32px;

  @include m.tablet {
    display: flex;
    gap: 64px;
    align-items: center;
  }
}

.form__control-wrapper {
  display: flex;
  flex-direction: column;
  gap: 13px;

  @include m.tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include m.tablet {
    margin-bottom: 65px;
  }

  @include m.desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__control-input {
  position: absolute;
  appearance: none;

  &:checked + .form__radio {
    background-image: url("../img/radio-check.svg");
  }
}

.form__radio {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("../img/radio.svg");
  margin-left: -42px;
  top: 0;
}

.form__label-radio {
  padding-left: 42px;
}

.form__control-input-checkbox {
  position: absolute;
  appearance: none;

  &:checked + .form__checkbox {
    background-image: url("../img/checkbox-check.svg");
  }
}

.form__checkbox {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("../img/checkbox.svg");
  margin-left: -42px;
  top: 0;
}

.form__label-checkbox {
  padding-left: 42px;
}
