.logo-htmlacademy {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
  text-decoration: underline;
  padding-top: 10px;
}
