@use "../mixins/media.scss" as m;
@use "../global/variables.scss" as v;

.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  min-height: 59px;
  align-items: center;

  @include m.tablet {
    background-color: #ffffff;
    width: 100%;
  }
}

.main-header--main {
  background-color: #ffffff;

  @include m.desktop {
    background: linear-gradient(to right, #ffffff 50%, v.$basic-green 50%);
    width: 100%;
  }
}

.main-header--form {
  background-color: #ffffff;
}
