@use "../global/variables.scss" as v;
@use "../mixins/media.scss" as m;

.main-catalog {
  @include m.tablet {
    width: auto;
  }
}

.main-catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include m.tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include m.desktop {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
}

.main-catalog__item {
  padding-top: 11px;
  padding-bottom: 14px;
  border-bottom: 1px solid #cdcdcd;

  @include m.tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
  }
}

.main-catalog__title {
  margin-top: 29px;
  margin-bottom: 50px;
}
