@use "../global/variables.scss" as v;
@use "../mixins/media.scss" as m;


.main-footer {
  min-height: 240px;

  @include m.tablet {
    min-height: 147px;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  padding-bottom: 40px;

  @include m.tablet {
    width: 708px;
    flex-direction: row;
    justify-content: space-between;
  }

  @include m.desktop {
    width: 100%;
  }
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
  width: 280px;

  @include m.tablet {
    width: 168px;
  }
}

.main-footer--background {
  background-color: #f2f2f2;
}

.main-footer__logo {
  fill: v.$special_dark-grey;
}
