@use "../global/variables.scss" as v;
@use "../mixins/media.scss" as m;


.main-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;

  @include m.tablet {
    font-size: 60px;
    line-height: 60px;
  }
}

.main-title__wrapper {
  border-bottom: 1px solid #cdcdcd;
  border-top: 1px solid #cdcdcd;

  @include m.tablet {
    border: none;
  }
}
