@use "../global/variables.scss" as v;
@use "../mixins/media.scss" as m;

.secondary-catalog {
  width: 100%;
  margin: 0;
  margin-bottom: 35px;

  @include m.tablet {
    margin-bottom: 76px;
  }

  @include m.desktop {
    margin-bottom: 86px;
  }
}

.secondary-catalog__name {
  position: relative;
}

.secondary-catalog__name::after {
  position: absolute;
  content: "";
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: v.$basic-green;
  z-index: -1;
}

.secondary-catalog__name-title {
  max-width: max-content;
  padding: 25px 20px 34px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #000000;
  background-color: #ffffff;
  display: inline-block;
  margin: 0;

  @include m.tablet {
    line-height: 36px;
    font-size: 36px;
  }

  @include m.desktop {
    padding: 0 35px 0 40px;
    margin-left: -40px;
  }
}

.secondary-catalog__name-wrapper {
  @include m.tablet {
    max-width: 100%;
    margin: 0 30px;
  }

  @include m.desktop {
    margin: 0 auto;
    padding: 0 110px;
  }
}

.secondary-catalog__wrapper {
  @include m.desktop {
    margin-top: 76px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 245px;
    column-gap: 80px;
  }
}
//.secondary-catalog__title {
//font-weight: 400;
//line-height: 24px;

//@include m.tablet {
//font-size: 36px;
//line-height: 36px;
// }
//}

.secondary-catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
  border-top: 1px solid v.$special_grey;

  @include m.tablet {
    margin-top: 76px;
    margin-bottom: 69px;
  }

  @include m.desktop {
    grid-column: 1 / 4;
    margin: 0;
  }
}

.secondary-catalog__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid v.$special_grey;
  width: 100%;

  @include m.tablet {
    padding: 25px 38px 29px;
  }

  @include m.desktop {
    padding: 15px 0 16px;
    display: flex;
    justify-content: space-between;
  }
}

.secondary-card {
  display: flex;
  flex-direction: column;
  gap: 13px;
  box-sizing: border-box;

  @include m.desktop {
    flex-direction: row;
    justify-content: space-between;
    width: 895px;
  }
}

.secondary-card__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: v.$special_dark-grey-2;

  @include m.tablet {
    font-size: 20px;
    line-height: 20px;
  }

  @include m.desktop {
    width: 200px;
  }
}

.secondary-card__data {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  color: v.$special_dark-grey;

  @include m.tablet {
    font-size: 16px;
    line-height: 20px;
  }
}

.secondary-card__wrapper {
  display: flex;
  justify-content: space-between;

  @include m.desktop {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }
}
