@use "../global/variables.scss" as v;
@use "../mixins/media.scss" as m;

.section-title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  color: #000000;

  @include m.tablet {
    font-size: 60px;
    line-height: 60px;
  }
}
