@use "../global/variables.scss" as v;

.social-list {
  display: flex;
  gap: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-list__item {
  width: 28px;
  height: 22px;
}

.social-link__svg {
  fill: v.$special_grey-2;
}
