img {
  max-width: 100%;
  object-fit: contain;
  aspect-ratio: 1 / 1;
  height: auto;
}

a {
  color: currentColor;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
