$basic-green: #68b738;

$basic-gray: #f2f2f2;

$basic-text: #ffffff;

$special_dark-grey-2: #222222;

$special_dark-grey: #444444;

$special_grey-2: #666666;

$special_grey: #cdcdcd;

$special_grey-3: #ebebeb;

$status_error: #ff8282;

$basic_green-2: #5eaa2f;


$desktop: 1220px;
$tablet: 768px;
$phone: 500px;
